@charset "UTF-8";

/* LUNCH MENU
------------------------*/
.bl_lunch {
    background-image: url(../images/seasonBg.jpg);
    background-position: center;
    height: 270px;
    margin-bottom: 40px;
}

.bl_lunch .el_pageTitle {
    text-align: center;
}

/*　モバイル版　
------------------------*/
@media (max-width: 600px) {
    /* LUNCH MENU */
    .bl_lunch .el_pageTitle {
        margin-top: 30px;
    }
}
