@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER */
.el_logo {
    width: 210px;
    margin-top: 14px;
}

.bl_mainNav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.bl_mainNav li {
    margin-left: 36px;
}

.bl_mainNav a {
    color: #432;
}

.bl_mainNav a:hover {
    color: #0bd;
}

.ly_pageHeader {
    display: flex;
    justify-content: space-between;
}

.ly_wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* HOME
------------------------*/
.ly_homeContent {
    text-align: center;
    margin-top: 10%;
}

.ly_homeContent p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* 見出し */
.el_pageTitle {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    color: #333;
}

/* ボタン */
.el_button {
    font-size: 1.375rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.el_button:hover {
    background-color: #0090aa;
}

/* 大きな背景画像 */
.bl_bigBg {
    background-size: cover;
    background-position: center top;
}

.bl_home {
    background-image: url(../images/mainBg.jpg);
    min-height: 100vh;
}

.bl_home .el_pageTitle {
    text-transform: none;
}

.hp_whiteTextShadow {
    text-shadow: 1px 1px 3px #fff;
}

/* NEWS
------------------------*/
.bl_news {
    background-image: url(../images/newsBg.jpg);
    background-position: center;
    height: 270px;
    margin-bottom: 40px;
}

.bl_news .el_pageTitle {
    text-align: center;
}

/* フッター */
.ly_footer {
    background-color: #432;
    text-align: center;
    padding: 26px 0;
}

.ly_footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* 記事部分 */
.ly_mainArea {
    width: 74%;
}

/* サイドバー */
.ly_sideBar {
    width: 22%;
}

.ly_newsContents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
