@charset "UTF-8";

/* 共通部分
------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER */
.el_logo {
    width: 210px;
    margin-top: 14px;
}

.bl_mainNav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.bl_mainNav li {
    margin-left: 36px;
}

.bl_mainNav a {
    color: #432;
}

.bl_mainNav a:hover {
    color: #0bd;
}

.ly_pageHeader {
    display: flex;
    justify-content: space-between;
}

.ly_wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* HOME
------------------------*/
.ly_homeContent {
    text-align: center;
    margin-top: 10%;
}

.ly_homeContent p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* 見出し */
.el_pageTitle {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    color: #333;
}

/* ボタン */
.el_button {
    font-size: 1.375rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.el_button:hover {
    background-color: #0090aa;
}

/* 大きな背景画像 */
.bl_bigBg {
    background-size: cover;
    background-position: center top;
}

.bl_home {
    background-image: url(../images/mainBg.jpg);
    min-height: 100vh;
}

.bl_home .el_pageTitle {
    text-transform: none;
}

.hp_whiteTextShadow {
    text-shadow: 1px 1px 3px #fff;
}

/* NEWS
------------------------*/
.bl_news {
    background-image: url(../images/newsBg.jpg);
    background-position: center;
    height: 270px;
    margin-bottom: 40px;
}

.bl_news .el_pageTitle {
    text-align: center;
}

/* フッター */
.ly_footer {
    background-color: #432;
    text-align: center;
    padding: 26px 0;
}

.ly_footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* 記事部分 */
.ly_mainArea {
    width: 74%;
}

/* サイドバー */
.ly_sideBar {
    width: 22%;
}

.ly_newsContents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.bl_postInfo_header {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.bl_postInfo_title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}

.bl_postInfo_title,
.bl_postInfo_cat {
    margin-left: 120px;
}

.bl_postInfo_date {
    background-color: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.bl_postInfo_date span {
    font-size: 1rem;
    border-top: 1px rgba(255, 255, 255, .5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.bl_postInfo_img {
    margin-bottom: 20px;
}

.bl_postInfo_body {
    margin-bottom: 1rem;
}

/*　サイドバー　*/
.bl_sub_title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.bl_sub_menu {
    margin-bottom: 60px;
    list-style: none;
}

.bl_sub_menu li {
    border-bottom: 1px #ddd solid;
}

.bl_sub_menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.bl_sub_menu a:hover {
    color: #0bd;
}

.bl_sub_description {
    padding: 12px 10px;
}

/*　モバイル版　
------------------------*/
@media (max-width: 600px) {
    .el_pageTitle {
        font-size: 2.5rem;
    }

    /* HEADER */
    .bl_mainNav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .bl_mainNav li {
        margin: 0 20px;
    }

    /* HOME */
    .ly_homeContent {
        margin-top: 20px;
    }

    .ly_pageHeader {
        flex-direction: column;
        align-items: center;
    }

    /* NEWS */
    .ly_newsContents {
        flex-direction: column;
    }

    .ly_mainArea,
    .ly_sideBar {
        width: 100%;
    }

    .bl_news .el_pageTitle {
        margin-top: 30px;
    }

    .ly_sideBar {
        margin-top: 60px;
    }

    .bl_postInfo_header {
        margin-bottom: 30px;
    }

    .bl_postInfo_date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }

    .bl_postInfo_date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }

    .bl_postInfo_title {
        font-size: 1.375rem;
    }

    .bl_postInfo_cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }

    .bl_postInfo_title,
    .bl_postInfo_cat {
        margin-left: 80px;
    }
}
